:root {
  --primary1: #3a86ff;
  --primary2: #fff;
  --primary3: #3a86ff41;
  --primary4: #fb5607;
}

.footer {
  background: var(--primary1);
}

.section__description {
  color: var(--primary2);
}

.footer__bottom {
  color: var(--primary2);
  border-top: 10px solid var(--primary1);
}

.section__description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1;
  padding-top: 10px;
  padding-bottom: 0;
}
