:root {
    --primary1: #3a86ff;
    --primary2: #fff;
    --primary3: #3a85ffb8;
    --primary4: #fb5607;
}

.slider__item {
    max-width: 100%;
    height: 325px;
}

.slider__item-01 {
    background: linear-gradient(var(--primary3), var(--primary3)), url('../Assets/all-images/slider-img/slider-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item-02 {
    background: linear-gradient(var(--primary3), var(--primary3)), url('../Assets/all-images/slider-img/slider-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item-03 {
    background: linear-gradient(var(--primary3), var(--primary3)), url('../Assets/all-images/slider-img/slider-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top__slider {
    overflow: hidden;
}

.slider__content {
  padding-top: 100px;
}

.slider__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.reserve__btn {
    background: var(--primary2) !important;
    border: none;
    outline: none;
}

.reserve__btn a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary1);
}