/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --primary1: #3a86ff;
  --primary2: #fff;
  --primary3: #3a85ffb8;
  --primary4: #fb5607;
}
/*base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*pre-define css*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary4);
  font-weight: 600;
  margin-bottom: 0;
}

h2,
h6 {
  color: var(--primary1);
}

h3,
h4 {
  font-size: 1.8rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

p {
  color: var(--primary1);
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section_title {
  color: var(--primary1);
  font-weight: 600;
  font-size: 2rem;
}

.section_subtitle {
  color: var(--primary4);
  font-weight: 600;
  font-size: 1.2rem;
}

.section_description {
  color: #ff0063;
  font-size: 0.9rem;
  line-height: 30px;
}

section {
  padding: 50px 0px 10px; /*Footer at bottom of page with 112px*/
}

.btn {
  padding: 7px 15px;
  background: var(--primary1);
  color: var(--primary2);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  color: var(--primary2) !important;
  background: var(--primary1);
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px, 0px;
  }

  .section_title {
    font-size: 1.6rem;
  }

  .section_subtitle {
    font-size: 1.1rem;
  }
}
